#search {
    margin-bottom: 10px;
}

#search input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    background-color: #eaeaea;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    transition: background-color ease-in-out 150ms;
}

#search input:focus {
    background-color: #b3d6f2;
}
