body, input {
    font-family: sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    transition: all 200ms linear;

    &:focus {
        outline: none;
    }
}

#tabs {
    font-size: 24px;
    margin-bottom: 10px;

    a {
        color: #a6a6a6;
        padding: 0 10px;

        &:hover {
            color: #005a9e;
        }
        &:active, &.active {
            color: #0078d7;
        }
    }
}

#tones {
    a {
        display: inline-block;
        width: 15px;
        height: 15px;

        transition: all 200ms ease;

        border-radius: 50%;
        border: 1px solid transparent;

        margin: 0 5px;

        $tones: #ffcf11, #fae3c3, #fed0ac, #dba373, #a88054, #5f4e43;
        @for $i from 0 through 5 {
            &.tone-#{$i} {
                background-color: nth($tones, $i + 1);
            }
        }

        &:hover, &.active {
            transform: scale(1.44);
        }
    }
}

#tooltip-container {
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    min-height: 20px;
    color: #a6a6a6;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}

%invisible {
    display: none;
}

.invisible {
    @extend %invisible;
}

#content-main {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px 10px;
}

footer {
    font-size: 12px;
    margin-top: 20px;
}

#galleries {
    &.history {
        #emoji-gallery {
            display: none;
        }
    }

    &.emoji {
        #history-gallery {
            display: none;
        }
    }
}

.joypixels {
    width: 32px;
    height: 32px;
    margin: 0;
    transition: all 100ms ease;
    cursor: pointer;
    transform: scale(0.75);

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        opacity: 0.8;
    }
}

.search {
    .joypixels {
        display: none;
    }

    .match {
        display: inline-block;
    }
}

#emoji-gallery {

    @for $i from 0 through 5 {
        &.tone-#{$i} {
            @for $j from 0 through 5 {
                @if $i != $j {
                    .tone-#{$j} {
                        @extend %invisible;
                    }
                }
            }
        }
    }

    $categories: people, nature, food, activity, travel, objects, symbols, flags, modifier, regional;

    @each $category in $categories {
        &.#{$category} {
            @each $other_category in $categories {
                @if $category != $other_category {
                    .#{$other_category} {
                        @extend %invisible;
                    }
                }
            }
        }
    }
}

#search {
    margin-bottom: 10px;

    input {
        width: 100%;
        box-sizing: border-box;
    }
}
