#emoji-header {
  background: transparent;
  text-shadow: none;
}

#emoji-box {
  -moz-appearance: -moz-mac-source-list;
}

#emoji-splitter {
  border-right: 1px solid #8e8e8e;
  border-left: 1px solid #bebebe;
  background-color: #ececec;
}

#emoji-title {
  font: icon;
  color: #000;
}
