#emoji-box sidebarheader {
    -moz-appearance: toolbox;
    color: -moz-DialogText;
    text-shadow: none;
    background-color: -moz-Dialog;
    border-bottom: 1px solid ThreeDShadow;
    border-top: 1px solid ThreeDHighlight;
}

@media (-moz-windows-default-theme) {
    #emoji-box sidebarheader {
        -moz-appearance: none;
        background-color: #f8f8f8;
        border-top: 0;
        border-bottom: 1px solid #a9b1b8;
    }
}

#emoji-splitter {
    border-inline-end: none;
    border-inline-start: 1px solid #a9b7c9;
    min-width: 0;
    width: 5px;
    background-color: transparent;
    margin-inline-end: -5px;
    position: relative;
    z-index: 10;
}
